
[submodule "deps/libplist"]
	path = deps/libplist
	url = git@github.com:libimobiledevice/libplist.git
[submodule "deps/libusbmuxd"]
	path = deps/libusbmuxd
	url = git@github.com:libimobiledevice/libusbmuxd.git
[submodule "deps/openssl"]
	path = deps/openssl
	url = git@github.com:openssl/openssl.git
